.form {
  display: grid;
  gap: 10px;
}

.form__row {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
}

.form__title {
}

.form__label {
  padding: 0.25em 0.5em;
  display: block;
  font-weight: bold;
}

.form__data {
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  border: 1px solid black;
}

.form__textarea {
  height: 10em;
  min-height: 10em;
}
