.table__data--no {
  text-align: right;
}

.table__data--title {
}

.table__data--content {
}

.table__data--creat-at,
.table__data--updat-at {
}

.table__data--action {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.button--edit {
  background-color: green;
  border-color: green;
}

.button--edit:hover {
  color: green;
}

.button--delete {
  background-color: red;
  color: white;
  border-color: red;
}

.button--delete:hover {
  color: red;
}

.button {
  width: 100%;
}

.button + .button {
  margin-top: 0.5em;
}
